main.container {
  container: main-container / inline-size;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  min-width: var(--min-page-width);
  max-width: var(--max-page-width);
  min-height: 100vh;

  margin: 0 auto;
  padding: 1rem;

  background-color: var(--white);

  .album {
    position: relative;

    padding: 1rem;
    width: 24.99999%;
  }

  .album:hover .title {
    opacity: 1;
  }

  @container main-container (width < 1600px) {
    .album {
      width: 33.33333%;
    }
  }

  @container main-container (width < 1200px) {
    .album {
      width: 49.99999%;
    }
  }

  @container main-container (width < 800px) {
    .album {
      width: 100%;
    }
  }

  .img {
    width: 100%;
    object-fit:cover;
    aspect-ratio: 1 / 1.5;

    border-radius: var(--border-radius-image);
    box-shadow: var(--shadow-image);
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;

    min-width: calc(100% - 2rem);
    margin: 1rem;

    background: rgba(0,0,0,0.5);
    color: var(--gray-0);

    opacity: 0;
    transition: opacity 0.3s;

    border-radius: var(--border-radius-image) var(--border-radius-image) 0 0;

    .name {
      margin-top: 0;
      padding: 0.5rem;
      text-align: center;
    }
  }
}
