.navigation-toolbar {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  flex-shrink: 1;

  min-height: 0;
  min-width: 0;
  padding: 2rem 4rem;

  & > .book {
    font-weight: 700;
  }
}

@container main-container (width < 800px) {
  .navigation-toolbar {
    padding: 2rem 8rem;
  }
}

@container main-container (width < 500px) {
  .navigation-toolbar {
    padding: 2rem 4rem;
  }
}
