footer.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;

  min-width: var(--min-page-width);
  max-width: var(--max-page-width);
  min-height: 6rem;
  max-height: 6rem;

  background-color: var(--gray-0);

  margin: 0 auto;
  padding: 2rem 4rem;

  box-shadow: var(--shadow-small);
  
  & > .created-by {
    color: var(--accent-color);
    font-size: 1.2rem;
    text-align: center;
  }

  & > .portfolio-link {
    font-size: 1.2rem;
    text-decoration: none;
  }
}

footer.container.bottom {
  box-shadow: none;
}

