/* -------------------------------------------------------------------------- *
 *                                    Cookies
 * -------------------------------------------------------------------------- */
.cookies-toaster {
  display: none;

  position: sticky;
  bottom: 2rem;

  color: var(--gray-4);
  background-color: var(--accent-color);

  border: none;
  opacity: 0%;
  transition: opacity 1.5s ease-in-out;

  /* --------------------------------- Show --------------------------------- */
  &.show {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;

    opacity: 95%;
    transition: opacity 1.5s ease-in-out;
  }

  /* ------------------------------- X Button ------------------------------- */
  .dialog-x-button {
    position: relative;
    top: -1.5rem;
    right: -1.5rem;

    padding: 0;
    min-width: 2.3rem;
    max-width: 2.3rem;
    min-height: 2.3rem;
    max-height: 2.3rem;
    
    border: 1px solid var(--gray-3);
    border-radius: 50%;

    font-size: 2rem;
    font-weight: 900rem;
    line-height: 1.5rem;

    &:focus {
      outline: none;
    }
  }

  /* --------------------------------- Content ------------------------------ */
  span, a {
    margin: 0;
  }
}
