@tailwind base;
@tailwind components;
@tailwind utilities;

/*------------------------------- Color theme --------------------------------*/
:root {
    --white: white;
    --gray-0: #f2f2f2;
    --gray-1: #e6e6e6;
    --gray-2: gainsboro;
    --gray-3: lightgray;
    --gray-4: silver;
    --gray-5: darkgray;
    --gray-6: gray;
    --gray-7: dimgray;
    --gray-8: #3d3a38;
    --gray-9: #040404;
    --signature-color: #1d2133;
    --signature-color-light: #5a6284;
    --accent-color: #332912;
}
