/* -------------------------------------------------------------------------- *
 *                               Contact section
 * -------------------------------------------------------------------------- */
.contact-section {
  background-color: var(--white);

  /* ------------------------------------------------------------------------ *
   *                                   Form
   * ------------------------------------------------------------------------ */
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    margin: 7rem auto 0;
    padding: 5rem 2.5rem 2.5rem;
    width: 90%;
    max-width: 70rem;

    background-color: var(--gray-0);

    border: 1px solid var(--gray-3);
    border-radius: 1rem;
    box-shadow: var(--shadow);
  }

  /* ------------------------------------------------------------------------ *
   *                                  Label
   * ------------------------------------------------------------------------ */
  label {
    display: block;

    color: var(--gray-7);
    font-size: 1.5rem;
  }

  /* ------------------------------------------------------------------------ *
   *                                 Input
   * ------------------------------------------------------------------------ */
  .input {
    display: block;
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;

    font-size: 1.5rem;
    line-height: 1rem;

    color: var(--gray-6);
    border: 1px solid var(--gray-3);
    border-radius: 0.25rem;

    caret-color: var(--gray-9);
  }

  /* ------------------------------------------------------------------------ *
   *                               Textarea
   * ------------------------------------------------------------------------ */
  textarea.input {
    resize: vertical;

    padding: 2rem 1rem;
    min-height: 10rem;

    line-height: 1.5rem;
  }

  /* ------------------------------------------------------------------------ *
   *                                Button
   * ------------------------------------------------------------------------ */
  .button {
    align-self: flex-end;
  }
}

