/* -------------------------------------------------------------------------- *
 *                                   Globals
 * -------------------------------------------------------------------------- */
:root {
    --max-page-width: 140rem;
    --min-page-width: 47rem;

    --shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.45), 0px 6px 32px 0 rgba(0, 0, 0, 0.25);

    --shadow-small: 1px 1px 4px rgba(0, 0, 0, 0.5);
    --shadow-text: 1px 1px 1px rgba(0, 0, 0, 0.5);
    --shadow-dialog: 0px 4px 16px 0 rgba(0, 0, 0, 0.25), 0px 6px 32px 0 rgba(0, 0, 0, 0.15);

    --shadow-button: 2px 2px 4px rgba(0, 0, 0, 0.6);
    --shadow-button-lowered: 1px 1px 3px rgba(0, 0, 0, 0.7);
    --shadow-button-elevated: 3px 3px 4px rgba(0, 0, 0, 0.5);

    --color-button: var(--gray-9);
    --bg-color-button: var(--gray-1);
}

/* -------------------------------------------------------------------------- *
 *                                   Section
 * -------------------------------------------------------------------------- */
.section {
  width: 100%;
  padding-top: 7rem;
  padding-bottom: 14rem;
}

/* -------------------------------------------------------------------------- *
 *                                   Title
 * -------------------------------------------------------------------------- */
.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin: 0 auto;
  width: 90%;
  max-width: 50rem;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  & > h2, p {
    text-align: center;
  }
}

/* -------------------------------------------------------------------------- *
 *                                   Button
 * -------------------------------------------------------------------------- */
.button {
  display: block;
  margin: 0;
  padding: 1.2rem 3rem;
  width: fit-content;

  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;

  color: var(--color-button);
  background-color: var(--bg-color-button);

  border: 1px solid transparent;
  border-radius: 1rem;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
    
  &.button-float {
    box-shadow: var(--shadow-button);

    &:hover {
      transform: translateX(-2px) translateY(-2px);
      box-shadow: var(--shadow-button-elevated);
      filter: brightness(102%);
    }

    &:active {
      transform: translateX(1px) translateY(1px);
      box-shadow: var(--shadow-button-lowered);
      filter: brightness(98%);
    }
  }

  &.button-primary {
    color: var(--gray-1);
    background-color: var(--signature-color);
  }
}
  
/* -------------------------------------------------------------------------- *
 *                                    Chip
 * -------------------------------------------------------------------------- */
.chip {
  display: inline-block;

  margin: 20px 20px 0 0;
  padding: 15px 20px 10px;

  color: var(--gray-8);
  background-color: var(--gray-1);
  border: 1px solid var(--gray-4);
  border-radius: 0.5rem;

  font-family: 'Normal';
  font-weight: 600;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
