main.container {
  container: main-container / inline-size;

  min-width: var(--min-page-width);
  max-width: var(--max-page-width);
  min-height: 100vh;

  margin: 0 auto;
  padding: 1rem;

  background-color: var(--white);

  .title {
    margin: 15rem auto 20rem;

    color: var(--gray-9);
    text-wrap-style: pretty;

    .social-media {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      & > svg {
        margin-top: 1.6rem;
      }
    }

    svg {
      width: 2.2rem;
      height: 2.2rem;
      cursor: pointer;
      color: var(--gray-7);
    }

    & > svg {
      margin-top: 20rem;
    }

    @container main-container (width > 800px) {
      .social-media {
        display: none;
      }
    }
  }

  @container main-container (width < 800px) {
    .title {
      margin: 10rem auto 15rem;

      & > svg {
        margin-top: 10rem;
      }
    }
  }

  .album-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;

    .album {
      position: relative;

      padding: 1rem;
      width: 24.99999%;
    }

    .album:hover .title {
      opacity: 1;
    }

    @container main-container (width < 1600px) {
      .album {
        width: 33.33333%;
      }
    }

    @container main-container (width < 1200px) {
      .album {
        width: 49.99999%;
      }
    }

    @container main-container (width < 800px) {
      .album {
        width: 100%;
      }
    }

    .img {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 1 / 1.5;

      border-radius: var(--border-radius-image);
      box-shadow: var(--shadow-image);
    }

    .title {
      position: absolute;
      top: 0;
      left: 0;

      min-width: calc(100% - 2rem);
      margin: 1rem;
      padding: 2rem;

      background: rgba(0,0,0,0.5);
      color: var(--gray-0);

      opacity: 0;
      transition: opacity 0.3s;

      border-radius: var(--border-radius-image) var(--border-radius-image) 0 0;

      .name {
        margin-top: 0;
        text-align: center;
      }
    }
  }
}
