.image-frame {
  display: flex;
  flex-shrink: visible;
  
  min-height: 0;
  min-width: 0;
  padding: 2rem 8rem;
  object-fit: fit-content;

  .image {
    display: block;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1.5;
    margin: 0 auto;

    border-radius: var(--border-radius-image);
    box-shadow: var(--shadow-image);
  }
}

@container main-container (width < 800px) {
  .image-frame {
    padding: 2rem 4rem;
    margin: auto 0;

    .image {
      width: 100%;
      height: unset;
    }
  }
}
